body{
    display: flex;
    flex-direction: column;
    background-color: #331426;
    background-image: url('imagens/imagem-de-fundo.png');
    background-repeat: no-repeat;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 14px;
    box-shadow: 0 1px 3px #FF24AB;
    background-color: #340120;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

#logo-mobile{
    width: 100%;
}

#logo{
    width: 10%;
    border-radius: 35%;
}

#Comprar{
    background-color: #FF24AB;
    border-radius: 10%;
    border: 0;
    padding: 12px;
}

#Comprar:hover{
    background-color: #D946A1;
}

#nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#l-compra{
    text-decoration: none;
    color: black;
}

#menu{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#b-menu{
    background-color: #340120;
    border: 0;
}

#social{
    display: flex;
    flex-direction: row;
}

.nav-items{
    text-decoration: none;
    color: white;
}

.nav-items:hover{
    color: #FF24AB;
}

.social{
    color: #0271BB;
}

article{
    background-color: #ff24ab9a;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 5em;
}

#inicio-mobile{
    width: 40%;
}

#telegram{
    text-decoration: none;
    color: black;
}

#telegram:hover{
    text-decoration: underline;
}

#AoVivo{
    background-color: #340120d0;
    border: 1px solid #FF24AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18rem;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 18px;
    border-radius: 11px;
}

.botao{
    background-color: #FF24AB;
    border-radius: 25px;
    border: 0;
    margin: 10px;
    width: 20rem;
    height: 3rem;
}

.botao:hover{
    background-color: #D946A1;
}

#piqueteamento{
    background-color: #340120d0;
    border: 1px solid #FF24AB;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 11px;
}

#ende{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#endereco{
    color: white;
    margin-bottom: 0;
}

#chat{
    display: flex;
    flex-direction: column;
    background-color: #340120;
    border: 1px solid #6C4A79;
    margin: 15px;
    border-radius: 11px;
}

#titulo-image{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid  #6C4A79;
}

#titulo{
    display: flex;
    flex-direction: column;
}

#mensagens{
    height: 25vh;
}

#enviar{
    border-top: 1px solid #6C4A79;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

#text-area{
    width: 20rem;
    margin-right: 5px;
    border-radius: 11px;
    height: 3rem;
    background-color: #6C4A79;
    border: 0;
    overflow-y: scroll;
}

#text-area::placeholder{
    color: white;
}

#b-enviar{
    background-color: #FF24AB;
    border-radius: 11px;
    border: 0;
    width: 5rem;
    height: 3rem;
}

#b-enviar:hover{
    background-color: #D946A1;
}

#mensagem-env{
    float: left;
    display: flex;
    flex-direction: row;
}

#mensagem-rec{
    float: right;
    display: flex;
    flex-direction: row-reverse;
}

#info{
    background-color: #461d35;
    display: flex;
    flex-direction: column;
}

#aviso{
    color: white;
    border: 1px solid #6C4A79;
    margin: 15px;
    border-radius: 11px;
}

#l-aviso{
    color: #FF24AB;
    text-decoration: none;
}

#l-aviso:hover{
    color: #6C4A79;
    text-decoration: underline;
}

#b-telegram{
    background-color: #FF24AB;
    border: 0;
    border-radius: 11px;
    margin: 15px;
    height: 3rem;
}

#b-telegram:hover{
    background-color: #D946A1;
}

#AoVivo2{
    background-color: #340120d0;
    border: 1px solid #FF24AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 18px;
    border-radius: 11px;
}

#aud{
    text-decoration: none;
    color: white;
    margin: 15px;
    text-align: center;
}

#aud:hover{
    color: #FF24AB;
    text-decoration: underline;
}

#patrocinio{
    background-color: #FF24AB;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

#pat1{
    float: left;
}

#pat2{
    float: right;
}

#Papel-branco{
    background-color: #FF24AB;
    border: 0;
    border-radius: 11px;
    margin: 1rem;
    height: 3rem;
    width: 10rem;
}

#Papel-branco:hover{
    background-color: #D946A1;
}

#Bate-papo{
    background-color: #FF24AB;
    border: 0;
    border-radius: 11px;
    height: 3rem;
    width: 13rem;
}

#Bate-papo:hover{
    background-color: #D946A1;
}

#b-telegram2{
    background-color: #FF24AB;
    border: 0;
    border-radius: 11px;
    height: 3rem;
    width: 15rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#b-telegram2:hover{
    background-color: #D946A1;
}

#formu{
    background-color: white;
    height: 2rem;
    width: 20rem;
    margin-left: 1rem;
    border-radius: 11px;
    text-align: center;
}

#vendidos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vendido{
    border: 1px solid #6C4A79;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    border-radius: 11px;
    margin-left: 3rem;
    margin-top: 2rem;
}

#pre{
    background-color: #FF24AB;
    border: 0;
    border-radius: 11px;
    margin: 15px;
    height: 3rem;
}

#pre:hover{
    background-color: #D946A1;
}

#toke{
    background-color: #340120;
}

.porcento{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}