body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    padding: 14px;
    box-shadow: 0 1px 3px #FF24AB;
    background-color: #340120;
    justify-content: space-around;
    align-items: center;
}

#logo-mobile{
    width: 40%;
}

#logo{
    width: 10%;
    border-radius: 35%;
}

#Comprar{
    background-color: #FF24AB;
    border-radius: 10%;
    border: 0;
    cursor: pointer;
    padding: 12px;
}

#Comprar:hover{
    background-color: #D946A1;
}

#nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#l-compra{
    text-decoration: none;
    color: black;
}

#menu{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#b-menu{
    background-color: #340120;
    border: 0;
}

#social{
    display: flex;
    flex-direction: row;
}

.nav-items{
    text-decoration: none;
    color: white;
}

.nav-items:hover{
    color: #FF24AB;
}

.social{
    color: #0271BB;
}